.countries {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(218px, 1fr));
  gap: 1.8rem;
  padding: 1rem;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .countries {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media only screen and (max-width: 768px) {
  .countries {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media only screen and (max-width: 600px) {
  .countries {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
