.search-control {
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}
.search-input {
  padding: 0.6rem;
  width: 18rem;
  text-align: center;
  transition: 1s;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.3);
  border-radius: 4px;
  border: 2px solid black;
  color: black;
}
.search-input:focus {
  width: 24rem;
  background-color: black;
  color: white;
}
@media only screen and (max-width: 600px) {
  .search-input {
    width: 15rem;
  }
  .search-input:focus {
    width: 18rem;
  }
}
